<div class="user-details">
  <h1>Qui suis-je ?</h1>
  <p class="center-justified">{{ site.user_description }}</p>
    <div class="image_container"><img class="image" src="{{ '/assets/campaign.jpg' | prepend: site.baseurl }}"></div>
</div>
<div class="user">
  <div class="tech">
    <h2>Formation</h2>
    <i class="icon fa fa-graduation-cap"></i>
    <p class="center-justified">I am an Automatism and Industrial Informatics technician, an entrepreneur since my young age and like many young people who strive for leaning and evolution, I got my first job in Europe 6 months following the Revolution as an “IT Consultant”. I continued my training alongside my job and I obtained several international certificates in ICT (Information and Communication Technology).</p>
  </div>
  <div class="tech">
    <h2>Carrière</h2>
    <i class="icon fa fa-user-o"></i>
    <p class="center-justified">My professional career did not stop progressing ever since, with more than eight years of experience in IT consulting for the EU Council and for the European Commission, without omitting my other sporting activities through which I have earned the champion title in triplets Petanque in 2005 and an arbitrator to the Belgian Football Federation.</p>
  </div>
  <div class="tech">
    <h2>Activités sociales</h2>
    <i class="icon fa fa-users"></i>
    <p class="center-justified">Since June 2011 in Brussels, I was having a life of an employee, an entrepreneur looking forward to becoming a social entrepreneur, active in the help of the Tunisian people. I had to go through a long and laborious journey, far from easy per-se; just like many of you I’m sure! </p>
  </div>
</div>
<div class="user-details">
  <h1>Candidature</h1>
  <!--<p class="center-justified">Aujourd’hui, il y a encore des milliers de jeunes qui ont choisi de faire des parcours hors de la Tunisie et qui ont besoin de faire parvenir leurs voix sous la coupole de Bardo, à la Kasbah et à Carthage.</p> -->
  <p class="center-justified">While introducing myself, I was thinking of Tunisians living abroad, just like me, but also of our compatriots in Tunisia who also want to have a better life that of social justice, the one that breaks the links with impunity, bureaucracy, corruption and offers them a good quality of life, as I believe that we are all entitled to it and this is the path I chose.</p>
  <p class="center-justified">I am proud of what I have accomplished, of the person I have become and of the strength and will that keep pushing me forward, telling me that the time has come to continue the fight and ensure that our voice is heard: the voice of the Youth’s Revolution.</p>
  <p class="center-justified">It is in this spirit that I decided to actively engage in Tunisian politics in order to improve our daily lives through first dealing and with several issues such as corruption, public services, positive integration, equality and parity, freedom of worship, individual freedoms and the fight against a regime that has nothing to offer either Tunisia or the Tunisians.</p>
  <p class="center-justified">It is with modesty and with a lot of confidence in the above mentioned ideas that I invite you to vote for “Amal wa 3amal Al Mosta9illa”, list # 15 on the 04th, 05th, or 06th of October, during the parliamentary elections in order to contribute in building a peaceful and fairer future for all Tunisians, regardless of our differences and our paths. Know that we all dream of a better Tunisia!</p>
  <p class="center-justified">I am head of the list number 15 of the “Amal wa 3amal Al Mosta9illa” movement on the constituency of the two Americas and the rest of Europe, alongside a multidisciplinary team.</p>
  <p class="center-justified">Because Tunisia deserves better.</p>
</div>
