<div class="user-details">
  <h1>Qui suis-je ?</h1>
  <p class="center-justified">{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Formation</h2>
    <i class="icon fa fa-graduation-cap"></i>
    <p class="center-justified">Ma formation en Automatisme et Informatique Industrielle, mon esprit entrepreneurial, mon envie d'évoluer et d'apprendre d'avantage, m'ont permis de décrocher mon premier poste en Europe 6 mois après la révolution comme « IT Consultant ». En parallèle, j’ai poursuivi ma formation et j'ai obtenu plusieurs certificats internationaux en TIC (Technologie de l'information et de la communication).</p>
  </div>
  <div class="tech">
    <h2>Carrière</h2>
    <i class="icon fa fa-user-o"></i>
    <!--
    <p class="center-justified">J’ai décroché mon premier poste en Europe 6 mois  après la révolution  comme « Consultant en IT ».</p>
    -->
    <p class="center-justified">Depuis, ma carrière professionnelle ne cesse d'évoluer, avec plus de huit ans d’expérience en consulting en IT pour le Conseil de l'Union Européenne, et la Commission Européenne. Je suis aussi arbitre à la fédération Belge du Football. Ma passion pour le sport m’avait déjà valu un titre de champion de pétanque triplettes en 2005.</p>
  </div>
  <div class="tech">
    <h2>Activités sociales</h2>
    <i class="icon fa fa-users"></i>
    <p class="center-justified">Depuis Juin 2011 à Bruxelles, je mène une vie d’employé, et entrepreneur social actif dans l’aide aux Tunisien(ne)s. Un parcours long et laborieux et loin d’être facile que j’ai dû traverser, d’ailleurs, comme plusieurs d'entre vous
      </p>
  </div>
</div>
<div class="user-details">
  <h1>Candidature</h1>
  <p class="center-justified">Aujourd’hui, il y a encore des milliers de jeunes qui ont choisi de faire des parcours hors de la Tunisie et qui ont besoin de faire parvenir leurs voix sous la coupole de Bardo, à la Kasbah et à Carthage.</p>
  <p class="center-justified">En me présentant, je pensais aux Tunisiens vivant à l’étranger comme moi, mais aussi à nos compatriotes en Tunisie et qui eux aussi tiennent à avoir une meilleure vie ; celle de la justice sociale, celle qui rompt les liens avec l’impunité, la bureaucratie, la corruption et qui leur offre une bonne qualité de vie, car on en a tous droit et c’est le chemin que j’ai choisi.</p>
  <p class="center-justified">Je suis fier du peu que j’ai accompli, de la personne que je suis devenu et de la force qui m’anime encore et me dit que le moment est venu pour continuer le combat et faire parvenir nos voix: la voix de la révolution des jeunes.</p>
  <p class="center-justified">C’est dans cet esprit que j’ai décidé de m’engager activement dans la vie politique Tunisienne, dans le but d’améliorer notre quotidien, en traitant des dossiers aussi importants que la corruption, les services publics, l’intégration positive, l’égalité et la parité, la liberté du culte, les libertés individuelles, et le combat contre un régime qui n'a plus rien à offrir ni à la Tunisie, ni aux tunisien(ne)s.</p>
  <p class="center-justified">Modestement et avec beaucoup de confiance aux idées que je porte, je vous invite à voter pour Amal wa 3amal Al Mosta9illa Liste #15 le 04, 05, ou 06 octobre, lors des élections parlementaires afin de contribuer à la construction d'un avenir plus serein et plus juste pour tous(tes) les tunisien(ne)s, quelques soient nos différences ou nos parcours. Sachez que nous rêvons toutes et tous d’une Tunisie meilleure !</p>
  <p class="center-justified">Je suis tête de la liste 15 du mouvement Amal wa 3amal Al Mosta9illa sur la circonscription des deux Amériques et reste de l'Europe aux côtés d’une équipe pluridisciplinaire.</p>
  <p class="center-justified">Parce-que la Tunisie mérite mieux.</p>
</div>
