<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{ site.username }}</span>
        <span class="site-description">{{ site.user_title }}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Envoyer un email" href="mailto:mauriurraco@gmail.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="Page facebook" target="_blank" href="https://fb.com/MeherSlimeneOfficial"><i class="icon fa fa-facebook-official" aria-hidden="true"></i></a>
        <a aria-label="Twitter" target="_blank" href="https://twitter.com/MeherSlimene"><i class="icon fa fa-twitter"></i></a>
        <a aria-label="LinkedIn" target="_blank" href="https://be.linkedin.com/in/meherslimene"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="Instagram" target="_blank" href="https://www.instagram.com/MeherSlimene"><i class="icon fa fa-instagram" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
